.container {
    display: flex;
    flex-direction: column;
}

.header {
    height: 64px;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 16px;
    align-items: center;
    border: 1px solid grey;
    justify-content: flex-start;
}

.toolbar {
    height: 64px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.toolbar button {
    margin-right: 8px;
}

.dropdown {
    width: 50%;
    border: 1px solid black;
    border-radius: 6px;
    padding: 8px;
}

.clear-input {
    border: none;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    background: none;
}

.data-input {
    border: 1px solid black;
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
}

.main-table table {
    position: relative;
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(even) {
    background-color: rgb(230, 230, 230);
}

.main-table th {
    padding: 10px;
    text-align: start;
    border-bottom: 1px solid grey;
    background: white;
}

.main-table td {
    padding: 8px;
}
