<div class="container">

    <div class="header">
        <mat-select class="dropdown" [(value)]="selectedInterval">
            <mat-option *ngFor="let interval of intervals" [value]="interval">
                Hour Interval: {{ interval }} Hours
            </mat-option>
        </mat-select>
    </div>

    <div class="toolbar">
        <button mat-flat-button color="primary" (click)="addItem()">Add New Row</button>
        <button mat-flat-button color="primary">Save Data</button>
    </div>

    <table class="main-table">
        <tr class="table-header">
            <th style="width: 20%">Measure Point Name</th>
            <th style="width: 10%">Units</th>
            <ng-container *ngFor="let time of availableTimes; let i = index">
                <th *ngIf="i % selectedInterval === 0">{{ time }}</th>
            </ng-container>
        </tr>
        <tr class="table-data" *ngFor="let item of data">
            <td>
                <input class="table-header-input" type="text" [(ngModel)]="item.name" />
            </td>
            <td>
                <input class="table-header-input" type="text" [(ngModel)]="item.units" />
            </td>
            <ng-container *ngFor="let value of item.values; let i = index">
                <td *ngIf="i % selectedInterval === 0">
                    <input type="text" [(ngModel)]="value.value" />
                </td>
            </ng-container>
        </tr>
    </table>
</div>
