.container {
    display: flex;
    flex-direction: column;
}

.header {
    height: 64px;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 16px;
    align-items: center;
    border: solid 1px grey;
    justify-content: flex-start;
}

.toolbar {
    height: 64px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.toolbar button {
    margin-right: 8px;
}

.dropdown {
    width: 50%;
}

.main-table {
    width: 100%;
}

.table-data:nth-child(odd) {
    background-color: rgb(220, 220, 220);
}

th, td {
    border: solid 1px grey;
}

th {
    padding: 10px;
    text-align: start;
}

.table-header-input {
    border: none;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    background: none;
}
